<?xml version="1.0"?>

<robot name="lanturn" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="lanturn"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find lanturn_description)/urdf/lanturn_base.xacro"/>
  <xacro:include filename="$(find lanturn_description)/urdf/lanturn.gazebo.xacro"/>

  <!-- Create the ROV -->
  <xacro:lanturn_base
    namespace="$(arg namespace)"
    inertial_reference_frame="$(arg inertial_reference_frame)">
    <!-- The underwater object plugin is given as an input block parameter to
     allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>1028.0</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <debug>$(arg debug)</debug>
        <!-- Adding the hydrodynamic and hydrostatic parameters for the vehicle-->
        <xacro:lanturn_hydro_model namespace="$(arg namespace)"/>
      </plugin>
    </gazebo>
  </xacro:lanturn_base>

  <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/$(arg namespace)</robotNamespace>
        <robotParam>/$(arg namespace)/robot_description</robotParam>
      </plugin>
  </gazebo>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>

</robot>
